<ion-content>
  <div class="cyber-grid-bg"></div>
  
  <div class="briefing-container">
    
    <div class="system-header">
      <div class="blink-dot"></div>
      <span>PROTOCOLO DE INICIACIÓN: CADETE</span>
    </div>

    <h1 class="main-title">FUNDAMENTOS DE LÓGICA <br><span class="highlight">PSEINT</span></h1>

    <div class="holo-card">
      
      <div class="card-icon">
        <img src="assets/chip-cerebro.png" alt="Cerebro Digital">
      </div>
      <div class="card-content">
        <h3>¿QUÉ VAMOS A APRENDER?</h3>
        <p>
          Antes de escribir código complejo en inglés (como JavaScript o Python), 
          debes aprender a <strong>PENSAR</strong> como una máquina.
        </p>
        <p>
          <strong>PSeInt</strong> es tu campo de entrenamiento. Escribiremos 
          "Pseudocódigo" (código falso en español) para dominar la 
          <strong>LÓGICA</strong> sin preocuparnos por reglas difíciles.
        </p>
      </div>
    </div>

    <div class="modules-grid">
      
      <div class="module-item">
        <img src="/assets/icon/box.svg" class="module-icon" alt="Variables">
        <h4>VARIABLES</h4>
        <p>Aprende a guardar datos en la memoria (Cajas).</p>
      </div>

      <div class="module-item">
        <img src="/assets/icon/fork.svg" class="module-icon" alt="Condicionales">
        <h4>CONDICIONALES</h4>
        <p>Toma decisiones: "Si pasa esto, haz aquello".</p>
      </div>

      <div class="module-item">
        <img src="/assets/icon/loop.svg" class="module-icon" alt="ciclos">
        <h4>CICLOS</h4>
        <p>Repite tareas automáticamente sin cansarte.</p>
      </div>

      <div class="module-item">
        <img src="/assets/icon/math.svg" class="module-icon" alt="Operadores">
        <h4>OPERADORES</h4>
        <p>Matemáticas y lógica para resolver problemas.</p>
      </div>

    </div>

    <div class="action-area">
      <p class="ready-text">¿SISTEMAS LISTOS PARA LA SINCRONIZACIÓN?</p>
      <button class="btn-start" (click)="irAlNivel1()">
        INICIAR ENTRENAMIENTO (NIVEL 1)
      </button>
    </div>

  </div>
</ion-content>