<ion-content>
  <div class="missions-wrapper">
    
    <h1 class="page-title">TU RUTA DE PROGRESO</h1>

    <div class="cards-container">
      
      <div class="mission-card active-card">
        <div class="icon-box">
          <img src="assets/chip.png" alt="Chip"> 
        </div>
        <h2>CADETE NOVATO</h2>
        <span class="level-badge">(NIVEL 1-8)</span>
        
        <ul class="checklist">
          <p>. Conceptos Básicos de PSeInt</p>
          <p>. Declaración de Variables</p>
          <p>. 8 Misiones Iniciales</p>
        </ul>

        <button class="btn-action" (click)="jugarNivelActual()">
          <span *ngIf="auth.currentLevel() === 1">EMPEZAR ENTRENAMIENTO</span>
          <span *ngIf="auth.currentLevel() > 1">CONTINUAR: NIVEL {{ auth.currentLevel() }}</span>
        </button>
      </div>

      <div class="mission-card" 
           [class.locked]="auth.currentLevel() < 9" 
           [class.active-card-js]="auth.currentLevel() >= 9">
        
        <div class="icon-box">
          <img src="assets/trofeo.png" alt="Trofeo">
        </div>

        <h2>PROGRAMADOR HÁBIL</h2>
        <span class="level-badge">(NIVEL 9-15)</span>

        <div class="checklist">
          <div *ngIf="auth.currentLevel() < 9">
            <p>🔒 Fundamentos JavaScript</p>
            <p>🔒 Sintaxis Básica</p>
            <p>🔒 Operadores</p>
          </div>

          <div *ngIf="auth.currentLevel() >= 9">
            <p>. Fundamentos JavaScript</p>
            <p>. Sintaxis Básica</p>
            <p>. Operadores</p>
          </div>
        </div>

        <button class="btn-action locked-btn" *ngIf="auth.currentLevel() < 9" disabled>
          BLOQUEADO (Completa Nivel 8)
        </button>

        <button class="btn-action start-btn" 
                *ngIf="auth.currentLevel() >= 9"
                (click)="jugarNivelActual()">
          <span *ngIf="auth.currentLevel() === 9">COMENZAR JS</span>
          <span *ngIf="auth.currentLevel() > 9">CONTINUAR: NIVEL {{ auth.currentLevel() }}</span>
        </button>

      </div>

      <div class="mission-card locked">
        <div class="icon-box">
          <img src="assets/lanza.png" alt="Lanza">
        </div>
        <h2>MAESTRO DE CÓDIGO</h2>
        <span class="level-badge">(NIVEL 16+)</span>

        <ul class="checklist">
          <p>🔒 Proyectos Complejos</p>
          <p>🔒 Acceso a desafíos</p>
        </ul>

        <button class="btn-action locked-btn" disabled>PRÓXIMAMENTE</button>
      </div>

    </div>
  </div>
</ion-content>