<ion-content>
  <div class="login-wrapper">
    
    <div class="header-text">
      <h1>INICIAR SESIÓN</h1>
      <h2>¡BIENVENIDO CADETE!</h2>
    </div>

    <div class="login-card">
      <div class="input-group">
        <label>Correo Electrónico</label>
        <input type="email" class="pixel-input">
      </div>

      <div class="input-group">
        <label>Contraseña</label>
        <input type="password" class="pixel-input">
      </div>

      <button class="btn-enter" (click)="iniciarSesion()">
        ENTRAR A LA ACADEMIA
      </button>

      <a class="forgot-link">Olvide mi contraseña</a>
      <img src="assets/Robot.png" class="robot-deco" alt="Robot">
    </div>

  </div>
</ion-content>