<ion-content>
  <div class="hex-bg"></div>

  <div class="briefing-container">
    
    <div class="security-level">
      <ion-icon name="lock-open"></ion-icon> ACCESO DE NIVEL 2 CONCEDIDO
    </div>

    <h1 class="main-title">LENGUAJE UNIVERSAL <br><span class="highlight">JAVASCRIPT</span></h1>

    <div class="js-card">
      <div class="card-visual">
        <ion-icon name="logo-javascript"></ion-icon>
      </div>
      
      <div class="card-content">
        <h3>BIENVENIDO AL MUNDO REAL</h3>
        <p>
          Has dominado la lógica. Ahora es momento de quitarse las ruedas de entrenamiento.
        </p>
        <p>
          <strong>JavaScript (JS)</strong> es el lenguaje que controla la web. 
          Ya no solo "pensarás" soluciones, ahora crearás 
          <strong class="text-gold">INTERACTIVIDAD REAL</strong>.
        </p>
      </div>
    </div>

    <div class="tech-grid">
      
      <div class="tech-item">
        <img src="/assets/icon/electric_bolt.svg" class="tech-icon" alt="Rayo tech">
        <h4>SINTAXIS REAL</h4>
        <p>Adiós al español. Hola al inglés técnico (let, const, if).</p>
      </div>

      <div class="tech-item">
        <img src="/assets/icon/tool.svg" class="tech-icon" alt="Engranaje y llave">
        <h4>FUNCIONES</h4>
        <p>Crea mini-máquinas que trabajan por ti.</p>
      </div>

      <div class="tech-item">
        <img src="/assets/icon/web.svg" class="tech-icon" alt="Estructura web">
        <h4>DOM</h4>
        <p>Aprende a manipular lo que el usuario ve en pantalla.</p>
      </div>

    </div>

    <div class="action-area">
      <p class="status-text">>> INICIALIZANDO ENTORNO DE EJECUCIÓN...</p>
      <button class="btn-deploy" (click)="irAlNivel9()">
        DESPLEGAR CÓDIGO (NIVEL 9)
      </button>
    </div>

  </div>
</ion-content>