<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div class="navbar-container">

        <div class="logo-box">
          <img src="assets/Logo Web.png" alt="DESOFT">
        </div>

        <div class="nav-links" *ngIf="auth.isLoggedIn()">
          <a routerLink="/home" routerLinkActive="active">Inicio</a>
          <a routerLink="/misiones" routerLinkActive="active">Misiones</a>
          <a routerLink="/logros" routerLinkActive="active">Logros</a>
        </div>

        <div class="user-panel">

          <div class="user-stats" *ngIf="auth.isLoggedIn()">
            
            <div class="avatar" 
                 [style.background-image]="auth.currentAvatar() ? 'url(' + auth.currentAvatar() + ')' : 'none'">
            </div>

            <div class="stats-info">
              <span class="username">{{ auth.currentUser() }}</span>
              
              <div style="display: flex; gap: 10px; align-items: center; font-size: 0.75rem;">
                <span class="level-tag" style="color: #aaa;">NIVEL {{ auth.currentLevel() }}</span>
                
                <span class="xp-tag" style="color: #4ade80; font-weight: bold; letter-spacing: 0.5px;">
                  {{ auth.currentXP() }} XP
                </span>
              </div>
            </div>

            <div style="width: 1px; height: 25px; background: #555; margin: 0 15px;"></div>

            <div class="btn-logout" (click)="cerrarSesion()" style="cursor: pointer; display: flex; align-items: center;">
               <span style="color: #ff4d4d; font-weight: bold; font-size: 0.9rem;">SALIR</span>
            </div>

          </div>

          <ion-button class="btn-login" fill="outline" routerLink="/login" *ngIf="!auth.isLoggedIn()">
            INICIAR SESIÓN
          </ion-button>

        </div>

      </div>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>
</ion-app>