<ion-content>
  <div class="selector-wrapper">
    <h1>ELIGE TU IDENTIDAD</h1>
    <p>¿Cómo quieres que te vean en la academia?</p>

    <div class="avatars-grid">
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-1.png')">
        <img src="assets/avatars/avatar-1.png">
      </div>
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-2.png')">
        <img src="assets/avatars/avatar-2.png">
      </div>
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-3.png')">
        <img src="assets/avatars/avatar-3.png">
      </div>
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-4.png')">
        <img src="assets/avatars/avatar-4.png">
      </div>
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-5.png')">
        <img src="assets/avatars/avatar-5.png">
      </div>
      <div class="avatar-option" (click)="elegirAvatar('assets/avatars/avatar-6.png')">
        <img src="assets/avatars/avatar-6.png">
      </div>
    </div>
  </div>
</ion-content>