<ion-content class="bg-space">
  <div class="selector-wrapper">
    
    <h1 class="main-title">ELIGE TU IDENTIDAD</h1>
    <p class="subtitle">¿Cómo quieres que te vean en la academia?</p>

    <div class="avatars-grid">
      <div 
        class="avatar-option" 
        *ngFor="let avatar of avatares"
        [class.selected]="avatarSeleccionado === avatar"
        (click)="seleccionar(avatar)">
        
        <img [src]="avatar" alt="Avatar">
        
      </div>
    </div>

  </div>
</ion-content>