<ion-content>
  <div class="hero-section">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        
        <ion-col size="12" size-md="6" class="text-col">
          <div class="hero-text">
            <h1>Domina la lógica de<br>programación sin aburrirte.</h1>
            <p>Una plataforma gamificada diseñada para estudiantes de primer ciclo. Aprende programación jugando, no memorizando.</p>
            
            <div class="cta-wrapper">
              <button class="btn-start" routerLink="/registro">
                Empezar Aventura
              </button>
              
              <a class="link-register" routerLink="/registro">
                Registrarse
              </a>
            </div>
          </div>
        </ion-col>

        <ion-col size="12" size-md="6" class="img-col">
          <img src="assets/joven-trofeo.png" alt="Personaje Programador" class="hero-img">
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>
</ion-content>